.banner {
  
  width: 100vw; /* cijeli ekran */
  margin-left: calc(50% - 50vw);
  height: 400px;
  background-size: cover;
    background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
    display: flex;
  justify-content: center; /* centriraj vodoravno */
  align-items: center;     /* centriraj okomito */
}

.banner-text-container {
background: rgba(0, 0, 0, 0.3); 
  padding: 0.2rem 10rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  position: relative;
}

.text-content {
max-width: 700px;

color: rgb(231, 229, 229);
}
