.footer {
    background-color: var(--primary);
    color: #fff;
    margin-top: 24px;
}

/*Raspored elemenata*/
.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-nav a {
    text-decoration: none;
    margin-left: 12px;
}

.footer p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer-inner {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .header-inner {
      padding-left: 20px;
      padding-right: 20px;
  } 

  .container {
      padding-left: 20px;
      padding-right: 20px; 
  } 
}