.header {
    position: fixed; /*fixiran header - ne miče*/
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    color: #fff;
    z-index: 100; /*iznad svih elem*/
    box-shadow: var(--shadow);
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.logo {
    position: relative;
    display: inline-block;
    font-weight: 700; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: 4px 4px 0px rgb(51, 51, 147);
    color: #D9EAF3;
    font-size: 24px;
}

/* Avion leti preko teksta */
.logo .plane {
    position: absolute;
    left: -40px;
    top: -10px;
    font-size: 23px;
    animation: fly 4s ease-in-out infinite; 
}

/* Animacija leta */
@keyframes fly {
    0% {
        transform: translateX(0) translateY(0) rotate(-10deg);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        transform: translateX(120px) translateY(-25px) rotate(10deg);
    }
    100% {
        transform: translateX(250px) translateY(-40px) rotate(25deg);
        opacity: 0;
    }
}


.nav {
    display: flex;
    gap: 16px;
}

.nav a {
    text-decoration: none;
    padding: 8px 10px; /*da dobijemo ovu kutijicu kada hoveramo*/
    border-radius: 10px;
}

.nav a.active, .nav a:hover {
    background: rgba(255, 255, 255, 0.18);
}

.menu-btn {
    background: none;
    border: 4px solid #00ccff;
    border-radius: 6px;
    animation: pulse 1.5s infinite;
    color: #fff;
    font-size: 25px;
    display: none;  /*sakrivamo menu button*/
    cursor: pointer;
}

@keyframes pulse {
  0%   { box-shadow: 0 0 0 0 rgba(0, 204, 255, 0.7); }
  100% { box-shadow: 0 0 12px 8px rgba(0, 204, 255, 0); }
}

/*radimo u desktop first varijanti a dole ispod je za 768 i manje*/
@media screen and (max-width: 768px) { 
    .menu-btn {
        display: block; /*da menu bude vidljiv(hamburger)*/
    }

    .nav {
        display: none; /*sakrivamo nav za mobilne uređaje*/
        position: absolute;
        right: 2.5%; /*da nije slipljeno uz krajnji rub*/
        top: 56px; /*da se pojavi ispod trake*/
        background-color: var(--primary);
        flex-direction: column; /*da navigacija bude u stupu*/
        padding: 12px;
        border-radius: 8px;
        box-shadow: var(--shadow);
        }

        .nav.open {
            display: flex;    
                        
    }

    

}
/*jer se lipilo uz rub logo i cili sadržaj na stranici nakon smanjivanja*/
@media screen and (max-width: 1200px) {
    .header-inner {
      padding-left: 20px;
      padding-right: 20px;
  } 

  .container {
      padding-left: 20px;
      padding-right: 20px; 
  } 
}